<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
  <nav class="main-nav">
     <ul class="nav-list">
        <li><a href="index.html">Domů</a></li>
        <li><a href="kategorie.html">Kategorie</a></li>
        <li><a href="produkty.html">Všechna kola</a></li>
        <li><a href="o-nas.html">O nás</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
     </ul>
  </nav>
</body>
</html>