<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
 <article class="product-card">
    <h3 class="product-title">
        <a href="produkt-detail.html">Nazev Kola</a>
    </h3>

    <p class="product-type">Mountain Bike, Enduro Bike, Trail Bike, Downhill Bike, Road Bike, Dirt Jumper</p>

    <div class="product-image">
        <a href="produkt-detail.html">
            <img src="assets/images/bike-placeholder.jpg" alt="Horské kolo Specialized" loading="lazy">
        </a>
    </div>

    <div class="product-price-row">
        <span class="price">xxxxxx</span>
        <a href="projekt-eshop/kosik-krok1.html" class="btn-add-to-cart" title="Přidat do košíku">🛒</a>
    </div>

    <div class="product-description">
        <p>Popis kola</p>
    </div>
 </article>
</body>
</html>